

$bgColor: #af0624;
$text: #fff;
$boxColor: #000;
$secondColor: #8d4c4c;

.WelcomePageComponent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 16 45;
    background-color: hsl(190, 93%, 35%);
    box-sizing: border-box;
    border-style: solid;
    border-color: $boxColor;
    border-width: 5px;
}

.welcome-card {
    max-width: 400px;
    margin: auto;
    border-style: solid;
    padding: 50px;
    background-color: $secondColor;
    border-width: 5px;
    border-color:#ff00ee rgb(57, 255, 12)hwb(184 22% 1%) orangered;
}

.welcome-header {
    display: flex;
    justify-content: center;
    color: $text;
}

.register {
    background-color: $boxColor;
}