$bgColor: #af0624;
$text: #fff;
$boxColor: rgb(0, 0, 0);
$secondColor: #8d4c4c;

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: peru;
    border-style: solid;
    border-color: $boxColor;
    border-width: 5px;
}

.logout-button {
    position: fixed;
    top: 5;
    right: 2px;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-left-color: $text;
    border-right-width: 5px;
    border-right-color: $text;
}
.profile-button{
    position: fixed;
    top: 5;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-left-color: $text;
    border-right-width: 5px;
    border-right-color: $text;
    padding: right 5px;
}

.movies-button {
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-left-color: $text;
    border-right-width: 5px;
    border-right-color: $text;

}

.Person {
    color: white;
}