:host {
    .main-page {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        background-color: bisque;

        h1 {
            color: #606060;
            margin-bottom: 1rem;
        }
    }
}